/* Define a custom property for text transformation and apply it  
   to the section-tagline class along with font family and weight
*/

:root {
    --font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title:  'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --color-primary: #d73953;   /* Primary color used for important elements */
    --color-black: #090909;     /* Dark black color for text */
    --color-white: #ffffff;     /* White color used for backgrounds and text */
    --color-light-grey: #f3f3f3; /* Light grey used for subtle background elements */
    --color-dark-grey: #353535;  /* Dark grey for text or background elements */
    --text-color: var(--color-black); /* Default text color set to color-black */
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    
    /* Line height custom properties */
    --line-height-small: 1.2; /* For tight line spacing */
    --line-height-base: 1.5;  /* For standard line spacing in body text */
    --line-height-big: 1.8;   /* For larger line spacing in larger text or headings */
    --section-header-align: center;
    --section-tagline-transform: uppercase;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%; 
}

body{
    color: var(--text-color);
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base); /* Set line-height to the base value */
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.visually-hidden {
    display: none;
}

.section-header {
    text-align: var(--section-header-align);
}

.section-tagline, .card-category {
    color: var(--color-primary);
}

.section-tagline {
    font-family: var(--font-family-title);
    text-transform: var(--section-tagline-transform);
    font-weight: var(--font-weight-bold);
}

h1, h2, h3 ,h4, h5, h6 {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight);
    line-height: var(--line-height-big);
}
